body {
    background-color: #d3e0ea;
}

img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1,
h3 {
    color: #1687a7;
}

a,
a:visited,
a:active {
    color: #276678;
}

a:hover {
    color: #1687a7;
}
